<%= form_for(@focus_item) do |f| %>
  <% if @focus_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@focus_item.errors.count, "error") %> prohibited this focus_item from being saved:</h2>

      <ul>
      <% @focus_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
